/tests/
.yarn/
dist/
node_modules/
test/test-project-host-hello-world-app-*
test/hello-world-app
jest.builder.config.ts
build-ng-package.ts
schema-merge.ts
test/util
commitlint.config.js
script
**/fixture