<div>
  默认结构型指令为静态解析,所以模板将会在编译时固定,如果想有限的使用模板(当前组件内传递模板),可以先定义自定义结构型指令,或者后期有时间hook
  common依赖库来实现
</div>
<div>语法糖ngIf显示测试</div>
<button (tap)="ngIfControl()">点击控制显示/隐藏</button>
<div *ngIf="flag.if">默认为显示</div>
<div>语法糖ngIf else测试</div>
<button (tap)="ngIfElseControl()">点击控制显示/隐藏</button>
<div *ngIf="flag.ifElse; else ngIfElseTemplate">默认if为显示</div>
<ng-template #ngIfElseTemplate>
  <div>else时显示</div>
</ng-template>
<p>非语法糖ngIf显示测试(非语法糖时单独模板情况下未生成锚点,失败)</p>
<!-- <button (tap)="ngIfDefault()">点击控制显示/隐藏</button>
<ng-template [ngIf]="flag.ifDefault" [ngIfElse]="ngIfDefaultElseTemplate"
  >模板上默认if为显示</ng-template
>
<ng-template #ngIfDefaultElseTemplate>
  <div>模板上else时显示</div>
</ng-template> -->
<div>------------------------</div>
<div>ngfor测试</div>
<button (tap)="addList()">增加列表</button>
<button (tap)="removeList()">减少列表</button>
<div *ngFor="let item of list">{{ item }}</div>

<div>-------------</div>
<div>ngSwitch测试</div>
<button (tap)="changeSwitch()">修改显示</button>
<span [ngSwitch]="ngSwitchValue">
  <p *ngSwitchCase="0">0显示</p>
  <p *ngSwitchCase="1">1显示</p>
  <p *ngSwitchDefault style="background-color: green">(2)其他显示</p>
</span>
<div>-----------</div>
<div>ngTemplateOutLet</div>
<ng-template #outletTemplate>ngTemplateOutLet测试</ng-template>
<ng-container *ngTemplateOutlet="outletTemplate"></ng-container>
<div>ngComponentOutLet暂时不支持(如果hook common组件库可能会有限支持)</div>
