---
---

@import '{{ site.theme }}';

.action-line {
  display: flex;
  align-items: center;
  justify-content: end;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

blockquote p{
  font-size: 0.8em;
}