直接插值({{ interpolation }})
<view>原生组件需要在module加入`schemas:[NO_ERRORS_SCHEMA]`</view>
<div>div组件转换为view</div>
<span>span组件转换为view</span>
<div (tap)="tap1($event)">组件定义的点击</div>
<div [style.color]="'red'">字符串->字体颜色红色</div>
<div [style.color]="color">变量->字体颜色红色</div>
<div [style.backgroundColor]="'green'">字符串->颜色背景绿色</div>
<div [style.backgroundColor]="backgroundColor">变量->颜色背景绿色</div>

<div (mut-bindtap)="mutBindTap1($event)">mut-bind使用</div>
<div (catchtap)="catchTap1($event)">catch使用</div>
<div (capture-bindtap)="captureBindTap1($event)">capture-bind使用</div>
<!-- <div (capture-catch)="captureCatchTap1($event)">capture-catch使用</div> -->
