<div>ngIf->ngIf</div>
<div *ngIf="true" [style.color]="'red'">
  第一层
  <div *ngIf="true" [style.color]="'yellow'">第二层</div>
</div>
<div>ngIf->ngFor</div>
<div *ngIf="true">
  <div *ngFor="let item of list; let i = index">
    内容:item:{{ item }},index:{{ i }}
  </div>
</div>
<div>ngFor->ngFor</div>
<div *ngFor="let item1 of list">
  <div *ngFor="let item2 of list">内容item1:{{ item1 }},item2:{{ item2 }}</div>
</div>

<div>ngFor->ng-content</div>
<div *ngFor="let item of list">
  <app-content> 投影内容:{{ item }} </app-content>
</div>
